<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>EmployeeChecker</servlet-name>
        <servlet-class>controller.EmployeeChecker</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrationChecker</servlet-name>
        <servlet-class>controller.RegistrationChecker</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveUserChecker</servlet-name>
        <servlet-class>controller.RemoveUserChecker</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateUserChecker</servlet-name>
        <servlet-class>controller.UpdateUserChecker</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewProfileChecker</servlet-name>
        <servlet-class>controller.ViewProfileChecker</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditChecker</servlet-name>
        <servlet-class>controller.EditChecker</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EmployeeChecker</servlet-name>
        <url-pattern>/EmployeeChecker</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrationChecker</servlet-name>
        <url-pattern>/RegistrationChecker</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveUserChecker</servlet-name>
        <url-pattern>/RemoveUserChecker</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateUserChecker</servlet-name>
        <url-pattern>/UpdateUserChecker</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewProfileChecker</servlet-name>
        <url-pattern>/ViewProfileChecker</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditChecker</servlet-name>
        <url-pattern>/EditChecker</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>login.html</welcome-file>
    </welcome-file-list>
</web-app>
